
// color map
$COLOR: (
	prime: #3b70fc,
	dark: #3c3c3c,
	grey: #dddfe6,
	white: #f9f9f9
);

// color function
@function color($color) {
	@return map-get($COLOR,
  $color);
}

.Number1 {

	display: flex;
	justify-content: center;
	align-items: center;
	
}


// styles
.card {
	background: #fff
	top -10% center no-repeat;
	
	background-size: contain;
	border-radius: 10px;
	box-shadow: 0 10px 30px -5px rgba(color(dark), 0.2);
	text-align: center;
	padding: 30px 60px;
	img {
		background-color: color(grey);
		height: 120px;
		width: 120px;
		border-radius: 50%;
		margin: auto auto 15px;
		display: block;
	}
	h1 {
        
		font-size: 22px;
		margin: 10px auto 0;
		letter-spacing: 1px;
	}
	h2 {
		margin: auto;
		color: darken(color(grey), 15);
		font-weight: 300;
		font-size: 14px;
	}
	.button {

		display: block;
		text-decoration: none;
		background: #888888;
		color: color(white);
		padding: 12px;
		border: none;
		border-radius: 25px;
		margin-top: 30px;
        width: 46px;

		transition: 0.2s;
		span {
			font-size: 20px;
			line-height: 1;
			vertical-align: top;
		}
		&:hover {
			background: darken(color(prime), 7);
		}
	}
}



.transaction_activity {background: #f0f2f5; display: inline-block; width: 100%; padding: 40px;}

.transaction_activity_image {float: left; width: 50%; padding-right: 20px;}
.transaction_activity_image_div {background: #fff; height: 231px; position: relative;}
.transaction_activity_image_dots {position: absolute; right: 5px; top:40%;}
.transaction_activity_image_dots div {width: 10px; height: 10px; background: #c5c7ca; margin: 5px; border-radius: 50%;}
.transaction_activity_image_dots .transaction_activity_image_dots1 {background: #31d317;}

.transaction_activity_text {float: left; width: 50%; padding-left: 20px; position: relative; z-index: 1;}
.transaction_activity_text_click {position: absolute; width:94%; background:#099ded; height:58px; transition: all 0.4s; top:0; z-index: -1; border-radius: 10px;}
.transaction_activity_text div {padding: 2px 20px; color: #2c3f5733; font-weight: 700; transition: all 0.4s; cursor:pointer;}
.transaction_activity_text .transaction_activity_text1 {color: #fff;}